html {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-weight: bold;
}

textarea:focus, input:focus{
    outline: none;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

h3.title {
    margin-bottom: .25em;
}

#userGuideLink {
    margin-top: .5em;
    margin-bottom: 0;
}

#userGuideLink:hover, #closeUserGuideLink:hover {
    cursor: pointer;
}

#userGuide {
    margin-right: 1em;
    margin-left: 1em;
}

#taskAdd {
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
}

#taskAdd h4 {
    margin: 0;
}

.task {
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: .5em;
}

.task button {
    margin-top: .5em;
}

.task h3 {
    font-style: italic;
    
    margin-top: 0;
    margin-bottom: .5em;
}

.task p {
    margin-top: .5em;
    margin-bottom: 0;
}

.task input {
    width: 50%;

    font-size: inherit;

    border: none;
    border-bottom: 1px solid black;
}

#taskNameInput {
    width: 100%;

    border: none;
    border-bottom: 1px solid black;

    margin-bottom: 1em;

    font-size: inherit;
}

button {
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: .75em;
}